.fibonacci{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results{
  width: 50%;
  min-width: 500px;
  display: flex;
  justify-content: center;
}

.results > div{
  margin-top: 20px;
}